.app {
  min-height: 100vh;
  overflow-x: hidden;
  background: #101010;
}


.site-header {
  width: 100%;
  height: 110px;

  padding: 15px 30px;

  display: grid;
  grid-template-columns:
    82px
    minmax(620px, 862px)
    214px;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  background: #111111;
  border-bottom: 1px solid #363636;
  position: relative;
  z-index: 10;
}


/* =========================================
   LOGO
========================================= */

.logo-button {
  width: 60px;
  height: 60px;
  padding: 0;
  background: transparent;
}

.logo {
  width: 60px;
  height: 60px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0d4f3a;
  border-radius: 14px;
}

.logo-mark {
  color: #7cf1ae;
  font-size: 52px;
  line-height: 1;
  transform: translateY(-2px);
}


/* =========================================
   NAVIGATION PILL
========================================= */

.nav-pill {
  width: 700px;
  height: 60px;
  padding: 7px;
  padding-left: 10px;
  margin-left: 85px;
  display: grid;
  grid-template-columns:
    1.08fr
    1fr
    1.08fr
    1.22fr;
  gap: 7px;
  background: #171717;
  border: 1px solid #2e2e2e;
  border-radius: 14px;
  box-shadow:
    0 0 0 5px rgba(255, 255, 255, 0.012),
    0 10px 30px rgba(0, 0, 0, 0.18);
}


/* =========================================
   NAV ITEMS
========================================= */

.nav-item {
  height: 45px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  color: #eeeeee;
  background: transparent;
  border-radius: 14px;
  font-size: 21px;
  font-weight: 400;
  white-space: nowrap;
}

.nav-item.active {
  color: #7cf1ae;

  background: #0e503b;
}

.nav-item:hover {
  background: rgba(255, 255, 255, 0.04);
}


/* =========================================
   OPEN APP
========================================= */

.open-app {
  width: 150px;
  height: 50px;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7cf1ae;
  background: #0e503b;
  border-radius: 14px;
  font-size: 19px;
  font-weight: 100px;
  white-space: nowrap;
}

.open-app:hover {
  filter: brightness(1.08);
}

.open-app svg {
  width: 20px;
  height: 30px;
  flex-shrink: 0;

}


/* =========================================
   HERO
========================================= */

.hero {
  position: relative;
  width: 100%;
  padding-bottom: 90px;
  min-height: 602px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: #101010;
}


/* =========================================
   BACKGROUND GRID
========================================= */

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.012) 1px,
      transparent 1px
    ),
    linear-gradient(
      rgba(255, 255, 255, 0.012) 1px,
      transparent 1px
    );

  background-size: 120px 120px;
  opacity: 0.65;
  pointer-events: none;
}


.hero-grid {
  position: absolute;
  inset: 0;
  pointer-events: none;
}


.grid-block {
  position: absolute;
  background: rgba(255, 255, 255, 0.012);
  border: 1px solid rgba(255, 255, 255, 0.008);
}
/* Individual blocks */

.block-1 {
  left: 0;
  top: 118px;

  width: 132px;
  height: 116px;
}

.block-2 {
  left: 252px;
  top: 118px;

  width: 120px;
  height: 119px;
}

.block-3 {
  left: 493px;
  top: 0;

  width: 121px;
  height: 117px;
}

.block-4 {
  left: 730px;
  top: 118px;

  width: 120px;
  height: 118px;
}

.block-5 {
  left: 1092px;
  top: 0;

  width: 119px;
  height: 117px;
}

.block-6 {
  left: 1330px;
  top: 0;

  width: 119px;
  height: 117px;
}

.block-7 {
  right: 78px;
  top: 118px;

  width: 119px;
  height: 118px;
}

.block-8 {
  right: 0;
  top: 358px;

  width: 78px;
  height: 120px;
}


/* =========================================
   HERO CONTENT
========================================= */

.hero-content {
  position: relative;
  z-index: 2;
  width: 1120px;
  margin: 0 auto;
  transform: translateY(-4px);
  text-align: center;
}


/* =========================================
   HERO HEADING
========================================= */

.hero h1 {
  margin: 0 25px 10px 0;
  color: #f8f8f8;
  font-size: 100px;
  line-height: 1.03;
  font-weight: 250;
  letter-spacing: -5.2px;
  padding-top: 90px;
}

.hero p {
  margin: 0;
  padding-bottom: 10px;
  color: #777777;
  font-size: 47px;
  line-height: 1.02;
  font-weight: 10;
  letter-spacing: -2.25px;
}


/* =========================================
   HERO BUTTONS
========================================= */

.hero-actions {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}


.hero-button {
  height: 80px;
  padding: 10px 10px;
  border-radius: 20px;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -1px;
}


/* GREEN BUTTON */

.hero-button.primary {
  width: 230px;
  color: #7cf1ae;
  background: #0e503b;
}


/* DARK BUTTON */

.hero-button.secondary {
  width: 230px;
  color: #f5f5f5;
  background: #2c2c2c;
}


.hero-button:hover {
  filter: brightness(1.08);
}


/* =========================================
   TABLET
========================================= */

@media (max-width: 1200px) {

  .site-header {
    padding: 0 36px;

    grid-template-columns:
      72px
      minmax(500px, 1fr)
      190px;

    gap: 18px;
  }


  .logo,
  .logo-button {
    width: 72px;
    height: 72px;
  }


  .nav-item {
    font-size: 17px;

    gap: 7px;
  }


  .open-app {
    width: 190px;

    font-size: 18px;
  }


  .hero-content {
    margin-left: 12%;

    width: 80%;
  }


  .hero-actions {
    margin-left: 18%;
  }

}


/* =========================================
   MOBILE
========================================= */

@media (max-width: 800px) {

  .site-header {
    height: auto;

    min-height: 92px;

    padding: 14px 18px;

    grid-template-columns:
      60px
      1fr;
  }


  .logo,
  .logo-button {
    width: 60px;
    height: 60px;
  }


  .logo-mark {
    font-size: 40px;
  }


  .nav-pill {
    display: none;
  }


  .open-app {
    grid-column: 2;

    grid-row: 1;

    justify-self: end;

    width: 145px;

    height: 58px;

    border-radius: 18px;

    font-size: 16px;
  }


  .hero {
    min-height:
      calc(100vh - 92px);

    align-items: center;
  }


  .hero-content {
    width:
      calc(100% - 40px);

    margin:
      0 20px;

    transform: none;
  }


  .hero h1 {
    font-size:
      clamp(
        48px,
        11vw,
        72px
      );

    letter-spacing: -3px;
  }


  .hero p {
    font-size:
      clamp(
        22px,
        5.5vw,
        31px
      );

    letter-spacing: -1.2px;
  }


  .desktop-break {
    display: none;
  }


  .hero-actions {
    margin:
      50px 0 0;

    flex-direction: column;

    align-items: stretch;
  }


  .hero-button {
    width: 100%;

    min-width: 0 !important;

    height: 72px;

    font-size: 22px;
  }

}


/* =========================================
   SECOND FIGMA SCREEN
   FEATURE STRIP
========================================= */

.feature-strip {
  width: 100%;
  height: 260px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  background: #1c1c1c;

  border-top: 1px solid #383838;
  border-bottom: 1px solid #383838;

  position: relative;
}


/* Vertical divider */

.feature-strip::after {
  content: "";

  position: absolute;

  top: 0;
  bottom: 0;

  left: 50%;

  width: 1px;

  background: #3b3b3b;
}


/* =========================================
   FEATURE
========================================= */

.feature {
  height: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;

  text-align: center;
}


/* =========================================
   FEATURE ICON
========================================= */

.feature-icon {
  margin-top: 30px;

  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #78efaa;
}


/* =========================================
   FEATURE HEADING
========================================= */

.feature h3 {
  margin: 20px 0 0;

  color: #f4f4f4;

  font-size: 36px;

  line-height: 1.05;

  font-weight: 400;

  letter-spacing: -1.8px;
}


/* =========================================
   FEATURE DESCRIPTION
========================================= */

.feature p {
  margin: 14px 0 0;

  color: #777777;

  font-size: 34px;

  line-height: 1.22;

  font-weight: 350;

  letter-spacing: -1.7px;
}


/* =========================================
   GLOBAL LAYER
========================================= */

.global-layer {
  width: 100%;

  height: 336px;

  display: grid;

  grid-template-columns: 1fr 1fr;

  background: #101010;

  border-bottom: 1px solid #373737;
}


/* =========================================
   GLOBAL LEFT
========================================= */

.global-left {
  padding-left: 165px;

  display: flex;

  align-items: center;
}


.global-left h2 {
  margin: 0;

  color: #f5f5f5;

  font-size: 55px;

  line-height: 1.22;

  font-weight: 350;

  letter-spacing: -3.2px;
}


/* =========================================
   GLOBAL RIGHT
========================================= */

.global-right {
  padding-left: 105px;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: flex-start;
}


.global-right p {
  margin: 0;

  color: #777777;

  font-size: 30px;

  line-height: 1.2;

  font-weight: 350;

  letter-spacing: -0.7px;
  transform: translate(10px);
}


/* =========================================
   GLOBAL DEMO BUTTON
========================================= */

.global-demo-button {
  width: 240px;

  height: 65px;

  margin-top: 20px;

  border-radius: 15px;

  background: #0e503b;

  color: #7cf1ae;

  font-size: 26px;

  font-weight: 400;

  letter-spacing: -2.0;
}


.global-demo-button:hover {
  filter: brightness(1.08);
}


/* =========================================
   HOW IT WORKS
========================================= */

.how-title {
  position: relative;

  width: 100%;
  height: 212px;

  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #101010;

  border-top: 1px solid #363636;
  border-bottom: 1px solid #363636;
}


/* =========================================
   FLOOR GRID
========================================= */

.floor-grid {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;

  perspective: 500px;
}


/* Grid */

.floor-grid::before {
  content: "";

  position: absolute;

  width: 140%;
  height: 115%;

  left: -20%;
  top: 20px;

  background:
    repeating-linear-gradient(
      to bottom,
      transparent 0,
      transparent 17px,
      rgba(255, 255, 255, 0.07) 18px,
      transparent 19px
    ),
    repeating-linear-gradient(
      to right,
      transparent 0,
      transparent 58px,
      rgba(255, 255, 255, 0.055) 59px,
      transparent 60px
    );

  transform:
    perspective(500px)
    rotateX(62deg);

  transform-origin: center bottom;
}


/* Dark fade over the grid */

.floor-grid::after {
  content: "";

  position: absolute;

  inset: 0;

  background:
    linear-gradient(
      to bottom,
      rgba(16, 16, 16, 0.15) 0%,
      rgba(16, 16, 16, 0.05) 45%,
      rgba(16, 16, 16, 0.55) 100%
    );
}


/* =========================================
   HOW IT WORKS TEXT
========================================= */

.how-title h2 {
  position: relative;

  z-index: 2;

  margin: 6px 0 0;

  color: #f5f5f5;

  font-size: 90px;

  line-height: 1;

  font-weight: 350;

  letter-spacing: -5px;

  text-align: center;
}


/* =========================================
   SECOND SCREEN RESPONSIVE
========================================= */

@media (max-width: 1200px) {

  .feature h3 {
    font-size: 30px;
  }

  .feature p {
    font-size: 28px;
  }

  .global-left {
    padding-left: 80px;
  }

  .global-left h2 {
    font-size: 50px;
  }

  .global-right {
    padding-left: 60px;
  }

  .global-right p {
    font-size: 29px;
  }

  .how-title h2 {
    font-size: 90px;
  }
}


@media (max-width: 800px) {

  /* FEATURES */

  .feature-strip {
    height: auto;

    grid-template-columns: 1fr;

    padding: 45px 20px;
  }

  .feature-strip::after {
    display: none;
  }

  .feature {
    min-height: 250px;
  }

  .feature-right {
    border-top: 1px solid #383838;
  }

  .feature h3 {
    font-size: 27px;
  }

  .feature p {
    font-size: 23px;
  }


  /* GLOBAL */

  .global-layer {
    height: auto;

    grid-template-columns: 1fr;

    padding: 70px 20px;
  }

  .global-left {
    padding: 0;
  }

  .global-left h2 {
    font-size: 43px;

    letter-spacing: -2px;
  }

  .global-right {
    padding: 50px 0 0;
  }

  .global-right p {
    font-size: 25px;
  }

  .global-demo-button {
    width: 100%;

    height: 72px;

    font-size: 24px;
  }


  /* HOW */

  .how-title {
    height: 200px;
  }

  .how-title h2 {
    font-size: 50px;

    letter-spacing: -3px;
  }

}


/* =========================================
   ONE BALANCE
========================================= */

.one-balance {
  position: relative;

  width: 100%;
  height: 450px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  background: #101010;

  border-bottom: 1px solid #363636;

  overflow: hidden;
}


/* subtle background blocks */

.one-balance::before {
  content: "";

  position: absolute;

  width: 100px;
  height: 110px;

  left: 228px;
  top: 118px;

  background: rgba(255, 255, 255, 0.018);
}

.one-balance::after {
  content: "";

  position: absolute;

  width: 100px;
  height: 100px;

  left: 535px;
  bottom: 55px;

  background: rgba(255, 255, 255, 0.018);
}


/* =========================================
   LEFT COPY
========================================= */

.one-balance-copy {
  position: relative;

  z-index: 2;

  padding-left: 134px;

  padding-top: 70px;
}


.one-balance-copy h2 {
  margin: 0;

  color: #f5f5f5;

  font-size: 45px;

  line-height: 1.1;

  font-weight: 350;

  letter-spacing: -1.1px;
}


.one-balance-copy p {
  margin: 22px 0 0;

  color: #777777;

  font-size: 25px;

  line-height: 1.3;

  font-weight: 350;

  letter-spacing: -0.6px;
}


/* =========================================
   SLIDER DOTS
========================================= */

.slider-dots {
  position: absolute;
  margin-bottom: 50px;
  left: 170px;
  bottom: 75px;
  display: flex;
  align-items: center;
  gap: 3px;
}


.slider-dots span {
  width: 19px;
  height: 4px;

  border-radius: 5px;

  background: #eeeeee;
}


.slider-dots span.active {
  background: #76eea8;
}

/* =========================================
   BALANCE CARD
========================================= */

.balance-card {
  position: relative;
  z-index: 2;
  width: 478px;
  padding-left: 0;
  margin-top: 38px;

  transform: translateX(80px);
}


/* =========================================
   BALANCE BOX
========================================= */

.balance-box {
  width: 85%;

  height: 229px;

  padding: 43px 25px 24px;

  box-sizing: border-box;

  border-radius: 14px;

  background: #1d1d1d;
}


.current-balance {
  display: block;

  text-align: center;

  color: #777777;

  font-size: 14px;
}


.balance-amount {
  display: block;

  margin-top: 13px;

  text-align: center;

  color: #f4f4f4;

  font-size: 40px;

  line-height: 1;

  font-weight: 500;

  letter-spacing: -1px;
}


.exchange-rate {
  margin-top: 9px;

  text-align: center;

  color: #777777;

  font-size: 16px;
}


.exchange-rate span {
  color: #78efaa;

  margin-right: 8px;
}


/* =========================================
   BALANCE ACTIONS
========================================= */

.balance-actions {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 7px;

  margin-top: 25px;
}


.balance-actions button {
  height: 45px;

  border: none;

  border-radius: 9px;

  background: #292929;

  color: #eeeeee;

  font-size: 14px;

  display: flex;

  align-items: center;

  justify-content: center;

  gap: 7px;
}


.balance-actions button span {
  font-size: 14px;
}


/* =========================================
   BREAKDOWN
========================================= */

.breakdown-heading {
  display: flex;

  align-items: center;

  justify-content: space-between;

  margin-top: 14px;
}


.breakdown-heading h4 {
  margin: 0;

  color: #eeeeee;

  font-size: 13px;

  font-weight: 300;
}


.breakdown-heading p {
  margin: 3px 0 0;

  color: #666666;

  font-size: 10px;
}


.transaction-button {
  border: none;
  border-radius: 8px;
  padding: 8px 13px;
  background: #075238;
  color: #6eeca2;
  font-size: 10px;
  transform: translateX(-70px);
}


/* =========================================
   ASSET ROW
========================================= */

.asset-row {
  width: 85%;

  height: 50px;

  margin-top: 10px;

  padding: 0 10px;

  box-sizing: border-box;

  display: flex;

  align-items: center;

  gap: 9px;

  border-radius: 10px;

  background: #1d1d1d;
}


/* coin */

.coin {
  width: 30px;
  height: 30px;

  flex-shrink: 0;

  display: flex;

  align-items: center;
  justify-content: center;

  border-radius: 50%;

  color: white;

  font-size: 20px;

  font-weight: 500;
}


.coin.blue {
  background: #3979d9;
}


.coin.green {
  background: #27aa82;
}


/* columns */

.asset-col {
  min-width: 66px;

  display: flex;

  flex-direction: column;

  gap: 1px;
}


.asset-col span {
  color: #777777;

  font-size: 10px;
}


.asset-col strong {
  color: #eeeeee;

  font-size: 12px;

  font-weight: 400;
}


.refresh {
  margin-left: auto;
  border: none;
  border-radius: 35px;
  padding: 8px 16px;
  background: #292929;
  color: #eeeeee;
  font-size: 12px;
}

.deposit-section {
  position: relative;
  width: 100%;
  height: 670px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #1c1c1c;
  border-bottom: 1px solid #363636;
  overflow: hidden;
}

.deposit-visual {
  position: relative;
  padding-left: 130px;
  padding-top: 95px;
}

.network-select {
  width: 400px;
  height: 65px;
  border-radius: 18px;
  background: #292929;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}


.network-icons {
  display: flex;
  align-items: center;
  margin-right: 13px;
}


.network-icons span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.polygon-icon {
  background: #7844df;
  color: white;
  font-size: 20px;
}


.usdc-icon {
  margin-left: -7px;
  background: #4385dd;
  color: white;
  font-size: 20px;
}


.network-text {
  display: flex;
  flex-direction: column;
  gap: 3px;
}


.network-text small {
  color: #888888;
  font-size: 12px;
}


.network-text strong {
  color: #eeeeee;
  font-size: 15px;
  font-weight: 400;
}


.network-arrow {
  margin-left: auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #333333;
  color: #eeeeee;
  font-size: 20px;
  padding-bottom: 10px;
}

.qr-container {
  width: 400px;
  height: 320px;
  margin-top: 18px;
  border-radius: 20px;
  background: #292929;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.qr-code {
  position: relative;

  width: 350px;
  height: 280px;

  background: #292929;

  overflow: hidden;
}


.qr-dots {
  position: absolute;

  inset: 0;
}


.qr-dots i {
  position: absolute;

  width: 8px;
  height: 8px;

  border-radius: 50%;

  background: #f4f4f4;
}

.finder {
  position: absolute;

  width: 82px;
  height: 82px;

  border: 12px solid #f4f4f4;

  border-radius: 8px;

  box-sizing: border-box;

  z-index: 3;
}


.finder span {
  position: absolute;

  width: 34px;
  height: 34px;

  top: 12px;
  left: 12px;

  border-radius: 50%;

  background: #f4f4f4;
}


.top-left {
  top: 0;
  left: 0;
}


.top-right {
  top: 0;
  right: 0;
}


.bottom-left {
  bottom: 0;
  left: 0;
}

.qr-center {
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #78efaa;
  color: #075238;
  font-size: 52px;
}

.wallet-row {
  width: 400px;
  height: 60px;
  margin-top: 18px;
  padding: 0 22px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background: #292929;
}


.wallet-icon {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #075238;
  color: #78efaa;
  font-size: 28px;
}


.wallet-details {
  display: flex;
  flex-direction: column;
  gap: 3px;
}


.wallet-details small {
  color: #777777;
  font-size: 11px;
}


.wallet-details strong {
  color: #eeeeee;
  font-size: 14px;
  font-weight: 400;
}


.wallet-row button {
  margin-left: auto;
  border: none;
  background: transparent;
  color: #eeeeee;
  font-size: 14px;
}

.deposit-copy {
  padding-left: 10px;
  padding-top: 100px;
}


.deposit-copy h2 {
  margin: 0;
  color: #f5f5f5;
  font-size: 51px;
  line-height: 1.2;
  font-weight: 30;
  letter-spacing: -1px;
}

.deposit-copy p {
  margin: 10px 0 0;

  color: #777777;

  font-size: 30px;

  line-height: 1.3;

  font-weight: 350;

  letter-spacing: -1px;
}


.documentation-button {
  width: 300px;
  height: 68px;
  margin-top: 39px;
  border: none;
  border-radius: 15px;
  background: #075238;
  color: #78efaa;
  font-size: 25px;
  font-weight: 100;
}

.deposit-dots {
  display: flex;
  gap: 4px;
  margin-top: 160px;
  margin-left: 3px;
}


.deposit-dots span {
  width: 20px;
  height: 3px;
  border-radius: 5px;
  background: #eeeeee;
}


.deposit-dots span.active {
  background: #78efaa;
}

.settlement-section {
  width: 100%;
  height: 700px;
  padding: 90px 100px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 540px;
  background: #101010;
  border-top: 1px solid #363636;
  border-bottom: 1px solid #363636;
}

.settlement-copy {
  padding-top: 20px;
}

.settlement-copy h2 {
  margin: 0;
  color: #f5f5f5;
  font-size: 50px;
  line-height: 1.1;
  font-weight: 300;
  letter-spacing: -1px;
}

.settlement-copy p {
  margin-top: 20px;
  color: #777777;
  font-size: 27px;
  line-height: 1.2;
  font-weight: 100;
  letter-spacing: -0.01px;
}

.settlement-dots {
  display: flex;
  gap: 2px;
  margin-top: 320px;
}

.settlement-dots span {
  width: 17px;
  height: 3px;
  border-radius: 10px;
  background: #eeeeee;
}

.settlement-dots span.active {
  background: #75eda6;
}

.currency-panel {
  width: 410px;
  box-sizing: border-box;
  padding: 28px;
  border: 1px solid #303030;
  border-radius: 12px;
  background: #1b1b1b;
  margin-left: 120px;
  height: 530px;
}

.currency-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.currency-header h3 {
  margin: 0;
  color: #eeeeee;
  font-size: 17px;
  font-weight: 200;
}

.currency-header p {
  margin: 4px 0 0;
  color: #777777;
  font-size: 13px;
}


.close-button {
  border: none;
  border-radius: 9px;
  padding: 10px 16px;
  background: #292929;
  color: #eeeeee;
  font-size: 11px;
  cursor: pointer;
}

.currency-search {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 14px;
  padding: 0 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 11px;
  background: #292929;
  color: #707070;
  font-size: 16px;
}

.search-icon {
  font-size: 29px;
  line-height: 1;
}


.currency-group {
  padding: 10px 10px;
  margin-top: 12px;
  border-radius: 13px;
  background: #292929;
}



.currency-group.single {
  padding: 0;
}


.currency-item {
  height: 60px;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 13px;
  color: #eeeeee;
}

.currency-group:not(.single) .currency-item + .currency-item {
  margin-top: 8px;
}


.currency-info {
  display: flex;
  align-items: center;
  gap: 10px;
}


.flag {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  line-height: 1;
}

.currency-info strong {
  display: block;
  color: #eeeeee;
  font-size: 15px;
  font-weight: 100;
}

.currency-info small {
  display: block;
  margin-top: 2px;
  color: #777777;
  font-size: 12px;
}


.country-open {
  background: #373737;
}


.currency-item.selected {
  border: 1px solid #76eda7;
  background: #303030;
}


.continue-button {
  border: none;
  padding: 7px 10px;
  border-radius: 25px;
  background: #76eda7;
  color: #101010;
  font-size: 15px;
  cursor: pointer;
}

.arrow {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #383838;
  color: #eeeeee;
  font-size: 20px;
}



/* FINAL CTA */

.final-cta {
  height: 335px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 60px;
  background: #1d1d1d;
  border-bottom: 1px solid #303030;
}

.final-cta h2 {
  margin: 0;
  color: #f5f5f5;
  font-size: 45px;
  line-height: 1.1;
  font-weight: 300;
  letter-spacing: -1px;
}

.final-cta p {
  margin: 17px 0 0;
  color: #777777;
  font-size: 26px;
  font-weight: 300;
  letter-spacing: -0.2px;
}


/* BUTTONS */

.final-actions {
  display: flex;
  gap: 15px;
  margin-top: 34px;
}

.final-primary,
.final-secondary {
  height: 70px;
  padding: 0 40px;
  border: none;
  border-radius: 14px;
  font-size: 25px;
  cursor: pointer;
}

.final-primary {
  background: #0c5139;

  color: #78efaa;
}

.final-secondary {
  background: #2b2b2b;

  color: #eeeeee;
}


/* BRAND STRIP */

.brand-strip {
  height: 138px;
  padding: 0 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #303030;
  background: #101010;
}

.brand-logo {
  display: flex;
  align-items: center;
  color: #78efaa;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -3px;
}

.brand-logo span {
  margin-right: 3px;
  font-size: 58px;
}


.brand-description {
  margin-left: 30px;
  padding-left: 30px;
  border-left: 1px solid #383838;
  color: #777777;
  font-size: 35px;
  font-weight: 300;
  letter-spacing: -0.3px;
}


.social-icons {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #383838;
  font-size: 48px;
}

.social-icons span:first-child {
  font-weight: 700;
}


   /* FOOTER */

.footer {
  height: 110px;
  padding: 0 65px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #101010;
}

.copyright {
  color: #777777;
  font-size: 28px;
  font-weight: 300;
}

.footer-links {
  display: flex;
  gap: 25px;
  color: #777777;
  font-size: 28px;
  font-weight: 300;
}

/* =========================================
   COVERAGE PAGE
========================================= */

.coverage-page {
  width: 100%;
  background: #101010;
  color: #f4f4f4;
}


/* =========================================
   COVERAGE HERO
========================================= */

.coverage-hero {
  position: relative;
  height: 750px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #363636;
  border-bottom: 1px solid #363636;
}


.coverage-world {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.world-dots {
  width: 90%;
  height: 90%;
  opacity: 0.35;
  background-image: radial-gradient(
    circle,
    #393939 2px,
    transparent 2px
  );

  background-size: 14px 14px;

  mask-image: radial-gradient(
    ellipse at center,
    black 0%,
    transparent 72%
  );

  -webkit-mask-image: radial-gradient(
    ellipse at center,
    black 0%,
    transparent 72%
  );

  transform: scaleX(1.4);
}




.coverage-hero-content {
  position: relative;
  z-index: 2;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.coverage-hero-content h1 {
  margin-left: 50px;
  color: #f5f5f5;
  font-size: 95px;
  line-height: 1.02;
  letter-spacing: -3px;
  font-weight: 400;
  
}

.coverage-hero-content p {
  margin-left: 35px;
  color: #777777;
 font-size: 50px;
  line-height: 1;
  font-weight: 300;
  letter-spacing: -2px;
}


/* buttons */

.coverage-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 50px;
}

.coverage-primary,
.coverage-secondary {
  height: 80px;
  padding: 0 35px;
  border: none;
  border-radius: 16px;
  font-size: 27px;
  cursor: pointer;
}

.coverage-primary {
  background: #0d4f3a;
  color: #78efaa;
}

.coverage-secondary {
  background: #292929;
  color: #f4f4f4;
}


/* =========================================
   FEES SECTION
========================================= */

.coverage-fees {
  height: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 13%;
  box-sizing: border-box;
  background: #1d1d1d;
  border-bottom: 1px solid #363636;
}


/* left */

.fees-left {
  display: flex;
  align-items: center;
}

.fees-left h2 {
  margin-top: 10px;
  font-size: 51px;
  line-height: 1.15;
  font-weight: 100;
  letter-spacing: -1px;
}


/* right */

.fees-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}

.fees-right p {
  margin-top: 10px;
  color: #777777;
  font-size: 28px;
  line-height: 1.15;
  font-weight: 300;
  letter-spacing: 0.01px;
}

.fees-right button {
  width: 240px;
  height: 70px;
  margin-top: 0px;
  border: none;
  border-radius: 15px;
  background: #0d4f3a;
  color: #78efaa;
  font-size: 27px;
  cursor: pointer;
}


/* =========================================
   COUNTRIES SECTION
========================================= */

.coverage-countries {
  height: 490px;
  display: grid;
  grid-template-columns: 38% 62%;
  padding: 100px 9%;
  box-sizing: border-box;
  background: #101010;
  border-bottom: 1px solid #363636;
}


/* intro */

.countries-intro h2 {
  margin: 0;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: -0.5px;
}

.countries-intro p {
  margin-top: 15px;
  color: #777777;
  font-size: 30px;
  line-height: 1.1;
  font-weight: 300;
}


/* country grid */

.countries-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 50px;
  align-content: center;
}

.country {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 25px;
}

.country-flag {
  width: 40px;
  height: 30px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 6px;
}

.country-name {
  color: #eeeeee;
  white-space: nowrap;
}


.flag {
  width: 32px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;

  overflow: hidden;

  border-radius: 4px;
}

.flag svg {
  width: 100%;
  height: 100%;

  display: block;
}